<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../../public/css/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Articles on Articles</title>
</head>

<body>
	{{!-- nav-bar here --}}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Scrape and Learn</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<button class="btn btn-primary px-2 my-2 mr-2">
						<a class="nav-link text-white lead" href="/">Home <span class="sr-only">(current)</span></a>

					</button>
				</li>
				<li class="nav-item">
					<button class="btn btn-success my-2 mr-2 px-3">
						<a class="nav-link text-white lead" href="/saved">Saved Articles</a>
					</button>
				</li>
			</ul>
		</div>
	</nav>

	{{!-- Jumbo tron goes here --}}
	<div class="jumbotron jumbotron-fluid">
		<div class="justify-content-center text-center" id="jumbo-body">
			{{!-- Put a background image here --}}

			{{!-- Overlap the image with text --}}
			<h1 class="display-4">Nursing News from Nurse.com</h1>
			<button class="btn btn-danger" id="scrape-btn">Click to scrape for news</button>
		</div>
	</div>
	{{{ body }}}

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script>
		// Scrape button
		$('#scrape-btn').click(e => {
			e.preventDefault()
			console.log("Scraping now, please hold while we gather your news.")
			console.log(e.target.id)
			$.ajax({
				type: "GET",
				url: "/scrape"
			}).then(result => {
				console.log(result)
				location.reload()
			})
		})
		
		// Switching saved to true
		$('.saved').click(e => {
			e.preventDefault();
			console.log("save target");
			let targetId = e.target.id
			console.log(targetId);
			$.ajax({
				method: "PUT",
				url: `/saved/${targetId}`
			}).then(result => {
				console.log(result)
				location.reload();
			});
		});

		$('.unsaved').click(e => {
			e.preventDefault();
			console.log("unsave target");
			let targetId = e.target.id
			console.log(targetId);
			$.ajax({
				method: "PUT",
				url: `/unsaved/${targetId}`
			}).then(result => {
				console.log(result)
				location.reload();
			});
		});

		// Comments button
		$('.comments').click(e => {
			e.preventDefault()
			console.log('opening up comments')
			console.log(e.target.id)
			$.ajax({
				type: "GET",
				url: "/"
			}).then(result => {
				console.log(result)
				location.reload()
			})
		})


	</script>
</body>

</html>