{{!-- display articles --}}
<div id="body-container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Scrape and Learn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button class="btn btn-primary p-1 mr-2">
            <a class="nav-link text-white lead" href="#">Home <span class="sr-only">(current)</span></a>

          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-success p-1">
            <a class="nav-link text-white lead" href="#">Saved Articles</a>
          </button>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container" id="main-page">
    {{#each article}}
      <div class="container" id="article-div">
        <h1>Headline: {{article.headline}}</h1>
        <p>Summary: {{article.summary}}</p>
        <a class="lead" href="{{article.link}}">View Article</a>
        <button class="btn btn-" id="favorites"></button>
        <button class="btn btn-" id=""></button>
      </div>
    {{/each}}
  </div>
</div>